<!DOCTYPE html>
<html>
  <head>
    <title>RPN Upload</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="icon" href="img/cdetb.ico" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #e3f2fd;"
    >
      <a href="#" class="navbar-left"
        ><img src="img/cdetb_banner.png" width="113px" height="42px"
      /></a>
    </nav>
    <div class="container-fluid" style="border:1px solid #cecece;">
      <div class="col-md-8">
        <h3>Upload RPN File</h3>
        <p>
          Please select a Revenue Payroll Notification JSON file for upload to
          CDETB Payroll:
        </p>
        <form action="/" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label class="btn btn-default btn-file">
              <input class="input-normal" type="file" name="file-to-upload" />
            </label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
